@import "tailwindcss";

/* ===== FONT DEFINITIONS ===== */
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi/Satoshi-Black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-satoshi: "Satoshi", sans-serif;
	--font-dm-sans: "DM Sans", sans-serif;
	--background: #000000;
	--foreground: #ededed;
	--accent: #13a234;
	--success: #16a34a;
	--destructive: #dc2626;
	--warning: #f59e0b;
	--border: rgba(255, 255, 255, 0.06);
}

html[data-theme="light"] {
	--background: #ededed;
	--foreground: #000000;
	--accent: #13a234;
	--success: #16a34a;
	--destructive: #dc2626;
	--warning: #f59e0b;
	--border: rgba(0, 0, 0, 0.06);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);
	--color-success: var(--success);
	--color-destructive: var(--destructive);
	--color-warning: var(--warning);
	--font-satoshi: var(--font-satoshi);
	--font-dm-sans: var(--font-dm-sans);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-satoshi);
}

.rotate-smooth {
  transition: transform 0.3s ease-out;
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--foreground);
	border-radius: 10px;
}
